body {
    background-color: rgb(22, 16, 24);
    background-image: url("./bg-stars.svg"), url("./pattern-hills.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 70% auto, 100% auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  #countdown {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    font-size: 4rem;
    justify-content: space-between;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
  }
  




.countdown-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .social-media{
    width: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:90%;
    left:50%;
    display: flex;
    justify-content: space-between;
    
  }


.social-media svg path {
  fill: #868484de; 
  transition: fill 0.3s ease; /
}


.social-media svg:hover path {
  fill: orange; 
  cursor: pointer;
}

.naming{
position: absolute;
transform: translate(-50%,-50%);
left:50%;
top:65%;
display: flex;
text-transform: uppercase;
letter-spacing: 0.2rem;
justify-content: space-between;
width: 100%;
max-width: 500px;
}

.minutes{
 margin-left: 70px;
}


.seconds{
 margin-left: 70px;
}
.hours{
  margin-left: 85px;
 }
 







  
  .countdown-block p {
    z-index: 1;
    margin: 0;
    padding: 40px;
    color: rgb(219, 63, 110);
    font-weight: 600;
  }




.countdown-block p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px; 
    height: 320px; 
    background-image: url("./card.svg");
    background-size: 320px 320px; 
    z-index: -1;
  }


  .desktop{
    display: block;
  }

  .mobile-version{
    display: none;
  }


  @media(max-width: 420px){




    body {
      background-color: rgb(22, 16, 24);
      background-image: url("./bg-stars.svg"), url("./pattern-hills.svg");
      background-position: left top, right bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: 200% auto, 400% auto;
      color: white;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


    .mobile-version{
      display: block;
    }

    .desktop{
      display: none;
    }
  
  
    .countdown-block p {
      z-index: 1;
      margin: 0;
      padding: 0px;
      color: rgb(219, 63, 110);
      font-weight: 600;
      font-size: 2rem;
    }

    .heading-mobile {
      display: flex;
      justify-content: center;
      position: relative;
      top: 180px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-size: 1rem;
      line-height: 2rem;
    }

    #countdown-mobile {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 45%;
      left: 50%;
      display: flex;
     
      justify-content: space-around;
      width: 380px;
      padding: 0px 40px;
    }

    .naming-mobile{
      position: absolute;
      transform: translate(-50%,-50%);
      left:52%;
      top:53%;
      display: flex;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      justify-content: space-between;
      width: 100%;
      max-width: 350px;
      font-size: 0.6rem;
      }


      .countdown-block p::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px; 
        background-image: url("./card.svg");
        background-size: 150px 150px; 
        z-index: -1;
      }

     
      .minutes-mobile{
        position: relative;
        left:10px;
      }
      .days-mobile{
        position: relative;
        left:10px;
      }

      .hours-mobile{
        position: relative;
        left:20px;
      }
    


  }
  
  
  
